<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>DHL Track</title>
</head>
<body>
    <div class="container">
        <header class="navbar">
            <a href="/" class="logo-link">
                <img class="logo" src="{{ logo_path }}" alt="logo">
            </a>
            <nav class="nav">
                <a href="#about" class="nav-link" id="about-link">About</a>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="banner-area" id="home">
                <video src="{{ video_path }}" autoplay loop muted></video>
                <h2 class="motto" id="motto">Your Trustworthy Package Tracking Service</h2>
                <button class="track-motto-button" id="track-motto-button">Track</button>
                <div class="track-area hidden" id="track-area">
                    <div class="form-content center-content">
                        <h1 class="title">Enter Your Tracking Number</h1>
                        <form method="post" class="tracking-form">
                            <input type="text" name="search" id="search" placeholder="&#x270e Enter your tracking number" required>
                            <button class="track-button" type="submit" name="track" id="track">Follow your Package</button>
                        </form>
                    </div>
                </div>
            </div>
            <main>
                <div class="about-area hidden" id="about">
                    <div class="text-part">
                        <h1>About Area</h1>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        </p>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; 2023 Package Track. All Rights Reserved to #KRAEON. </p>
    </footer>

    <script src="../static/js/index.js"></script>
</body>
</html>
