body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFCC00;
    width: 100%;
    height: 70px;
    z-index: 1;
}


.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 0%;
}


.logo{
    width: 200px;
    flex: 1 1 auto;
    margin-left: 10px;
}


a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}



li{
    border: 2px solid rgb(209, 27, 27);
    border-radius: 20px;
    margin: 0 20px;
    
}


a:hover{
    color: #fff;
}


.banner-area{
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    top: 70px;
}





.track-area, .about-area{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 700px;
}


.content{
    margin-bottom: 10%;
    bottom: 100%;
}


.track-area{
    background: url(dhlpaper.jpg)
}



.track-area.hidden{
    background: url(dhlpaper.jpg);
}


.form-content{
    position: absolute;
    left: 50%;
    top: 40%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
   
}


.form-content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-blend-mode: screen;
    font-weight: bolder;
    color: #d40511;
}

.form-content form{
    background: #ffffff;
    padding: 7px;
    border-radius: 50px;
    display: flex;
    border: 10px solid #d40511;

}

.form-content form input{
    flex: 2;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.form-content form button{
    background: #FFCC00;
    color: #000000;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}


.form-content form button:hover{
    background:#05d409 ;
    transform: scale(0.9);
   

}


.hero a:hover {
    background: #c00101;
}


.form-content {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}


.form-content p {
    line-height: 1.6;
    margin-bottom: 25px;
}

.text-part{
    width: 65%;
    height: 80%;
}

h1{
    font-size: 50px;
    font-family: Audiowide;
}


p{
    font-size: 24px;
    line-height: 50px;
}


video{
    z-index: -1;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}



html{
    scroll-behavior: smooth;
}









@media (min-aspect-ratio:16/9){
    #video{
        width: 100%;
        height: auto;
    }
}



@media (max-aspect-ratio:16/9){
    #video{
        width: auto;
        height: 100%;
    }
}

