body{
  background-color: #ffffff;
}

.whole {
padding-bottom: 20pc;
justify-content: center;
padding-left: 60px;
padding-right: 60px;
}



.tracking-table th {
background-color: #9f0e04;
color: rgb(213, 239, 65);
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
font-weight: bolder;
}
.tracking-table td {
border: 1px solid #d10000;
padding: 10px;
text-align: center;
font-size: medium;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.push{
color: rgb(0, 0, 0);
background: rgb(242, 199, 27);
background-color: rgb(243, 239, 58);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron{
background-color: #9f0e04;
padding-left: 60px;
padding-right: 60px;
}

button{
width: 100px;
height: 50px;
border: 1px solid #d10000;
border-radius: 5px;
font-weight: bolder;
font-size: larger;
}

button:hover{
background-color: rgb(176, 241, 23);
}

button:active{
background-color: #9f0e04;
}

.tracking{
font-size: larger;
font-weight: bold;
font-family: cursive;
}

.dhl{
font-size: 90px;
font-weight: bolder;
}