@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
.flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.flash-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 400px; /* Increase the width of the message container */
}

.flash-message {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-weight: bold;
}

.flash-message p {
    margin: 0;
    font-size: 14px;
}

.flash-message.error {
    background-color: #ffcccc;
    color: #cc0000;
}

.close-button {
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    height: 24px; /* Increase the height of the close button */
    width: 24px; /* Increase the width of the close button */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc00;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.logo-link {
    padding-left: 5px;
}

.logo {
    width: 200px;
}

.track-motto-button {
    position: absolute;
    top: calc(50% + 100px);
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #d40511;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 30px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Revalia', cursive;
}


.track-motto-button:hover {
    background-color: #ffcc00;
    color: #000;
}

.nav-link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 20px;
    margin: 0 10px;
    background-color: #d40511;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    color: #fff;
}

.banner-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.banner-area video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
    z-index: 2;
}

.motto {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #d40511;
    text-align: center; 
    font-size: 3rem;
    font-family: 'Revalia', cursive;
    animation: fadeInDown 0.5s ease-in-out forwards;
    transition: opacity 0.3s;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.motto.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}

.motto.show {
    display: none;
}

.track-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.track-area.hidden {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
}

.track-area.show {
    display: flex;
    animation: fadeInScaleUp 0.3s ease-in-out forwards;
}

.title {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #d40511;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.tracking-form {
    background: #ffffff;
    padding: 7px;
    border-radius: 50px;
    display: flex;
    border: 10px solid #d40511;
    width: 100%;
}

.form-content{
    padding-bottom: 90px;
}
.tracking-form input {
    flex: 2;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.tracking-form button {
    background: #05d409;
    color: #000000;
    padding: 15px 25px;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.tracking-form button:hover {
    background: #ffcc00;
    transform: scale(0.9);
}

.text-part {
    width: 65%;
    height: 80%;
}
.content-wrapper {
    height: 100%;
}
.about-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    padding: 0 20px;
    background-color: #f8f8f8;
}

.about-area h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #d40511;
}

.about-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-content .about-description {
    margin-bottom: 30px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.about-content ul.key-features {
    list-style-type: disc;
    margin-left: 20px;
}

.about-content strong {
    font-weight: bold;
}

.about-content em {
    font-style: italic;
}

.about-content .disclaimer {
    margin-top: 40px;
    font-size: 12px;
    color: #777777;
}

.about-content .author {
    margin-top: 30px;
    font-size: 14px;
    color: #777777;
}


footer {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    padding: 20px;
}
  
.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    text-decoration: none; /* Remove the underline */
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
    margin-right: 4px; /* Add some spacing between icons */
  }
  
  .social-links a img[src*="buymeacoffee"] {
    width: 120px;
    height: 30px;
  }
  
  
  footer .social-links {
    margin-bottom: 10px; /* Add some spacing between the links and the text */
    border-bottom: 1px solid #ccc; /* Add a border below the links */
    padding-bottom: 10px; /* Add some spacing between the border and the text */
  }
  
footer p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px; /* Add some spacing above the text */
}
  

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}


  

@media screen and (max-width: 480px) {
    .motto {
        font-size: 2rem;
    }
    .tracking-form {
        width: 100%;
    }

    .tracking-form button {
        padding: 10px 20px;
    }
}



@media screen and (max-width: 768px) {
    .logo{
        width: 180px;
    }
    .title {
        font-size: 45px;
        margin-bottom: 20px;
        white-space: normal;
    }

    .nav-link {
        font-size: 16px;
        padding: 5px 15px;
        margin: 0 5px;
    }
    
    .track-motto-button {
        font-size: 16px;
        padding: 10px 20px;
    }

    .track-area {
        width: 90%;
    }

    .form-content {
        padding-bottom: 80px;
    }

    .tracking-form {
        padding: 0;
        border-radius: 20px;
        height: 40px;
        border: 3px solid #d40511;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    .tracking-form input {
        border-radius: 10px;
        font-size: 18px;
        padding: 5px 10px;
        width: 90%;
        margin: 3px;

    }

    .tracking-form button {
        align-items: center;
        border-radius: 10px;
        font-size: 16px;
        display: inline-block;
        margin: 10px 5px;
        width: 90%;
        padding: 10px 5px;
    }

}

